# dependencies
node_modules/
.pnpm-store/

# expo
.expo/
dist/
web-build/
expo-env.d.ts

# turbo
.turbo/

# native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
ios/
android/

# metro
.metro-health-check*

# logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# os
.DS_Store

# env
.env*.local
